<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>To Do Items</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nunito:wght@200&family=Roboto&display=swap" rel="stylesheet">

    <style>



        body{
            background-color:#ffffff;
            background-image:url("https://wallpapercave.com/wp/wp8972259.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            font-family:'Nunito', sans-serif;;
            padding-top: 50px;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
            {
            font-family: 'Raleway', sans-serif
        }

        a,
        p {
            color: #4b5156
        }

        .container{
            max-width: 550px;
            margin:auto;
            background-color: #FFF;
            -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
            box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
        }

        .header-bar {
            display:flex;
            justify-content: space-between;
            color:#FFF;
            padding: 10px;
            border-radius: 0px 0px 0 0;
            background: linear-gradient(90deg, #ee909b 0%, #eb6f8c 43%, #eb6f8c 100%);
        }

        .header-bar a {
            color: rgb(247, 247, 247);
            text-decoration: none;
        }

        .task-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            background-color: #FFF;
            border-top: 1px solid rgb(246, 246, 246);

        }

        .task-title {
            display:flex;
        }

        .task-title a {
            text-decoration: none;
            color: #4b5156;
            margin-left: 10px;
        }

        .task-complete-icon {
            height: 20px;
            width: 20px;
            background-color: rgb(105, 192, 105);
            border-radius: 50%;
        }

        .task-incomplete-icon {
            height: 20px;
            width: 20px;
            background-color: rgb(218, 218, 218);
            border-radius: 50%;
        }

        .delete-link {
            text-decoration: none;
            font-weight: 900;
            color: #cf4949;
            font-size: 22px;
            line-height: 0;
        }

        #search-add-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
        }

        #add-link {
            color: #eb6f8c;
            text-decoration: none;
            font-size: 42px;
            text-shadow: 1px 1px #eb6f8c;
        }

        input[type=text],
        input[type=password],
        textarea {
            border: 1px solid #eb6f8c;
            border-radius: 5px;
            padding: 10px;
            width: 90%;
        }

        label {
            padding-top: 10px;
            display: block;
        }

        .button {
            border: 1px solid #eb6f8c;
            background-color: #FAFAFA;
            color: #eb6f8c;
            padding: 10px;
            font-size: 14px;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
        }

        .card-body {
            padding: 20px;
        }

    </style>
</head>
<body>

    <div class="container">
        {% block content %}

        {% endblock content %}
    </div>

</body>
</html>
